{% extends "layout_workforce.html" %}


{% block pageTitle %}
Faraz Haynes | Overview | Workforce planning
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <a href="team-view" class="govuk-back-link govuk-body">Back to team overview</a>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">Southampton Team 1</span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Faraz Haynes <span class="workforce-grade">Probation Officer</span></h1>    
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
<nav class="moj-sub-navigation" aria-label="Sub navigation">

      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"  aria-current="page" href="officer-view">Overview</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="officer-view-cases">Active cases</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="#3">Archived cases (on nDelius)</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="officer-view-contracted">Contracted hours</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"  href="officer-view-reductions">Reductions</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l" style="margin-bottom: 0!important;">Current workload</h2>
    <p class="govuk-body-s govuk-!-margin-bottom-2">Last updated: Today at 9:00am</p>
    <div class="govuk-grid-row">
      
      <div class="govuk-grid-column-one-quarter">
        <div class="card card-total-subset {{ data['contracted-colour'] }}">
          <span class="card__heading">{{ data['contracted-capacity'] }}%</span>
          <p>capacity</p>
        </div>
      </div>

      <div class="govuk-grid-column-one-quarter">
        <div class="card card-total">
          <a href="officer-view-cases" class="govuk-link--no-visited-state"><span class="card__heading">42</span>
          <p>total cases</p></a>
        </div>
      </div>
    </div>
    
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          View as points
        </span>
      </summary>
      <div class="govuk-details__text">
        <dl>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Points available
            </dt>
            <dd class="govuk-summary-list__value">
              2176
            </dd>
          </div><div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Points used
            </dt>
            <dd class="govuk-summary-list__value">
              2093
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Points remaining
            </dt>
            <dd class="govuk-summary-list__value">
              83
            </dd>
          </div>
        </dl>
      </div>
    </details>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" style="max-width: 727px;">
    <h2 class="govuk-heading-l">Availability</h2>
   <!-- <ul class="govuk-list govuk-list--bullet">
      <li>31 hours per week</li>
      <li>6 hour reduction active until 12 Feb 21</li>
      <li>Last allocation on 22 Jan</li>
    </ul> -->

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Contracted hours
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['contracted-hours'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="officer-view-contracted">
                Edit<span class="govuk-visually-hidden"> contracted hours</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Reductions
            </dt>
            <dd class="govuk-summary-list__value">
              8.00 hours until {{ data['reduction-end-day'] }}/{{ data['reduction-end-month'] }}/{{ data['reduction-end-year'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="officer-view-reductions">
                Edit<span class="govuk-visually-hidden"> reductions</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Last case allocated
            </dt>
            <dd class="govuk-summary-list__value">
              22 January 2021 (Tier B2, on licence in community)
            </dd>
            <dd class="govuk-summary-list__actions">

            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Cases due to end within next 4 weeks
            </dt>
            <dd class="govuk-summary-list__value">
              9
            </dd>
            <dd class="govuk-summary-list__actions">

            </dd>
          </div>

           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Releases within next 4 weeks
            </dt>
            <dd class="govuk-summary-list__value">
              1
            </dd>
            <dd class="govuk-summary-list__actions">
              
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Parole reports to complete within next 4 weeks
            </dt>
            <dd class="govuk-summary-list__value">
              4
            </dd>
            <dd class="govuk-summary-list__actions">

            </dd>
          </div>

         
        </dl>
  </div>



  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-m">Case mix</h3>
    <figure style="margin: 0;" class="govuk-!-padding-bottom-4">
            <img src="/public/images/casemix.png"
                 alt="Visual representation of types of active casework">
            <figcaption class="visually-hidden sr-only">
              Pie chart showing breakdown of different case types
            </figcaption>
        </figure>
    <ul class="govuk-list">
      <li><span class="caseload-swatch tier-a"></span>Tier A: 5</li>
      <li><span class="caseload-swatch tier-b"></span>Tier B1: 7</li> 
      <li><span class="caseload-swatch tier-c"></span>Tier B2: 9</li>
      <li><span class="caseload-swatch tier-d"></span>Tier C1: 17</li>
      <li><span class="caseload-swatch tier-other"></span>Other: 4</li>
    </ul>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <h3 class="govuk-heading-m">Specialist areas</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>Integrated Offender Management (IOM)</li> 
      <li>Serious Group Offending (SGO)</li> 
    </ul>
    <p><a href="">Edit</a></p>
  </div>

  <div class="govuk-grid-column-one-quarter">
    <h3 class="govuk-heading-m">Completed training</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>Domestic abuse</li>
      <li>Virtual inductions</li> 
    </ul>
    <p><a href="">Edit</a></p>
  </div>

  <div class="govuk-grid-column-one-half">
    
  </div>
</div>
{% endblock %}