{% extends "layout_cases.html" %}


{% block pageTitle %}
Faraz Haynes | Overview | Workforce planning
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <a href="unallocated-cases" class="govuk-back-link govuk-body">Back to unallocated cases</a>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span style="float:left; width: 71px; height: 71px; padding :10px; margin-right: 10px; background-color: #1d70b8; color: white; font-size: 60px; font-weight: 800;">C1</span><h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Dylan Adam Armstrong<span class="workforce-grade">J678910</span></h1>    
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav class="moj-sub-navigation" aria-label="Sub navigation">
      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"   href="case-view">Summary</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" aria-current="page" href="case-history">Probation record</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"  href="case-risk">Risk register</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Probation record</h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-!-margin-bottom-9">
      <h2 class="govuk-heading-m">
        Current orders <span class="secondary-text-col">(1)</span>
      </h2>
      <div class="current-order-wrapper">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="probationrecord/event2.html">ORA Community Order
            (18
            Months)</a></h3>
        <p class="govuk-body  govuk-!-margin-bottom-1">Common assault and battery - 10501</p>
        <p class="govuk-body">Started on 5 November 2020</p>
        <h3 class="govuk-heading-s govuk-!-margin-bottom-2 govuk-!-padding-top-0">Requirements</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>Rehabilitation Activity Requirement (RAR) – 20 days</li>
          <li>Court - Accredited Programme - Building Better Relationships (BBR)</li>
          <li>Unpaid Work - Regular – 40 Hours</li>
        </ul>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" style="max-width: 727px;">
      </div>
    </div>

    <div class="govuk-!-margin-bottom-9">
      <h2 class="govuk-heading-m">Previous orders <span class="secondary-text-col">(3)</span></h2>
      <p class="govuk-heading-s govuk-!-margin-bottom-0"><a class="govuk-link govuk-link--no-visited-state"
          href="probationrecord/event3.html">CJA
          Community Order (12 months)</a></p>
      <table class="govuk-table app-table govuk-!-margin-top-0 govuk-!-margin-bottom-3">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Breach of a Non-Molestation Order - 06639</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">Ended on 24 Nov 2012</td>
          </tr>
        </tbody>
      </table>
      <p class="govuk-heading-s govuk-!-margin-bottom-0"><a class="govuk-link govuk-link--no-visited-state"
          href="probationrecord/event4.html">CJA
          Community Order (12 months)</a></p>
      <table class="govuk-table app-table govuk-!-margin-top-0 govuk-!-margin-bottom-3">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Breach of a Non-Molestation Order - 06639</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">Ended on 01 Feb 2013</td>
          </tr>
        </tbody>
      </table>
      <p class="govuk-heading-s govuk-!-margin-bottom-0"><a class="govuk-link govuk-link--no-visited-state" href="#">CJA
          Community Order (12 months)</a></p>
      <table class="govuk-table app-table govuk-!-margin-top-0 govuk-!-margin-bottom-3">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Common assault and battery - 10501</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">Ended on 20 March 2012</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">
      Offender Manager </h2>
    <p class="govuk-body">Molly O'Sullivan<br><span class="secondary-text-col">Allocated on 11 Nov 2020</span></p>
    <p>
      Provider: CPA South Yorkshire<br>
      LDU: Rotherham<br>
      Team: Rotherham LMC<br>
    </p>

    <p>Team telephone: 0114 123 0000</p>

        <h2 class="govuk-heading-m">
      Previous Offender Manager </h2>
    <p class="govuk-body">Margaret Dawson <br><span class="secondary-text-col">Allocated on 04 Feb 2012</span></p>

    <h2 class="govuk-heading-m">Last pre-sentence report </h2>
    <p class="govuk-body">Pre-Sentence Report - Oral<br><span class="secondary-text-col">Delivered 4 months ago (05 Nov 2020)
      </span></p>

    <h2 class="govuk-heading-m">Last OASys assessment </h2>
    <p class="govuk-body">OASys Assessment Layer 3<br><span class="secondary-text-col">Completed on 13 Dec 2020</span></p>

  </div>

</div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <!--<form action="/allocate-handler" method="post" novalidate>-->
    <form action="allocation-reasons" method="post" novalidate>
      <h3 id="cleared" class="govuk-heading-l">Available officers</h3>
      <table class="govuk-table govuk-table-xl" data-module="moj-sortable-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" aria-sort="Ascending">Name</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Grade</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">Capacity</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">Allocations in past 7 days</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">Community cases</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">Custody cases</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Allocate</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="#">Alan Paine</a></td>
            <td class="govuk-table__cell" data-sort-value="Senior Probation Officer">
            <div class="tooltip">SPO<span class="tooltiptext">Senior Probation Officer</span></div></td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="0">0</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="0">0</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="8">1</td>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="allocate-officer" name="allocate-officer" type="radio" value="VN220927">
                  <label class="govuk-label govuk-radios__label" for="allocate-officer"></label>
                </div>
              </div>
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="officer-view-alt">Margaret Dawson</a></td>
            <td class="govuk-table__cell" data-sort-value="Probation Service Officer">
            <div class="tooltip">PSO<span class="tooltiptext">Probation Service Officer</span></div></td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value=74>74%</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="22">0</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="22">22</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="32">1</td>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="allocate-officer-2" name="allocate-officer" type="radio" value="VN220927">
                  <label class="govuk-label govuk-radios__label" for="allocate-officer-2"></label>
                </div>
              </div>
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="officer-view">Faraz Haynes</a></td>
            <td class="govuk-table__cell" data-sort-value="Probation Officer">
            <div class="tooltip">PO<span class="tooltiptext">Probation Officer</span></div></td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="88">88%</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="32">2</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="32">32</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="32">8</td>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="allocate-officer-3" name="allocate-officer" type="radio" value="VN220927">
                  <label class="govuk-label govuk-radios__label" for="allocate-officer-3"></label>
                </div>
              </div>
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="#">Teigan Kaye</a></td>
            <td class="govuk-table__cell" data-sort-value="Probation Officer">
            <div class="tooltip">PO<span class="tooltiptext">Probation Officer</span></div></td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="92">92%</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="8">0</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="23">23</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="39">16</td>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="allocate-officer-3" name="allocate-officer" type="radio" value="VN220927">
                  <label class="govuk-label govuk-radios__label" for="allocate-officer-3"></label>
                </div>
              </div>
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="#">Elin Neale</a></td>
            <td class="govuk-table__cell" data-sort-value="Probation Service Officer">
            <div class="tooltip">PSO<span class="tooltiptext">Probation Service Officer</span></div></td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="105">105%</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="8">0</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="24">24</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="24">0</td>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="allocate-officer-4" name="allocate-officer" type="radio" value="VN220927">
                  <label class="govuk-label govuk-radios__label" for="allocate-officer-4"></label>
                </div>
              </div>
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="#">Donald Daniels</a></td>
            <td class="govuk-table__cell" data-sort-value="Probation Service Officer">
            <div class="tooltip">PSO<span class="tooltiptext">Probation Service Officer</span></div></td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="107">107%</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="8">1</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="20">20</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="21">1</td>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="allocate-officer-5" name="allocate-officer" type="radio" value="VN220927">
                  <label class="govuk-label govuk-radios__label" for="allocate-officer-5"></label>
                </div>
              </div>
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="#">Aman Crawford</a></td>
            <td class="govuk-table__cell" data-sort-value="Probation Officer">
            <div class="tooltip">PO<span class="tooltiptext">Probation Officer</span></div></td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="112">112%</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="8">1</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="8">29</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="38">9</td>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="allocate-officer-6" name="allocate-officer" type="radio" value="VN220927">
                  <label class="govuk-label govuk-radios__label" for="allocate-officer-6"></label>
                </div>
              </div>
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="#">Hamid Rivas</a></td>
            <td class="govuk-table__cell" data-sort-value="Probation Officer">
            <div class="tooltip">PO<span class="tooltiptext">Probation Officer</span></div></td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="112">112%</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="8">0</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="27">27</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="37">10</td>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="allocate-officer-7" name="allocate-officer" type="radio" value="VN220927">
                  <label class="govuk-label govuk-radios__label" for="allocate-officer-7"></label>
                </div>
              </div>
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="#">Molly O'Sullivan</a></td>
            <td class="govuk-table__cell" data-sort-value="Probation Officer">
            <div class="tooltip">PO<span class="tooltiptext">Probation Officer</span></div></td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="123"><span style="color: #d4351c;">123%</span></td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="8">3</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="42">42</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="51">9</td>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="allocate-officer-8" name="allocate-officer" type="radio" value="VN220927">
                  <label class="govuk-label govuk-radios__label" for="allocate-officer-8"></label>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table> 

      <button class="govuk-button" data-module="govuk-button" style="float: left; margin-right: 30px;">
        Allocate to selected officer
      </button>
    </form>
    <form action="case-view#cleared" method="post" novalidate>
      <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Clear selection
      </button>
    </form>    
  </div>
</div>

{% endblock %}