{% extends "layout_workforce.html" %}


{% block pageTitle %}
Faraz Haynes | Active cases | Workforce planning
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <a href="case-view" class="govuk-back-link govuk-body">Back to case overview</a>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">Southampton Team 1</span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Faraz Haynes <span class="workforce-grade">Probation Officer</span></h1> 
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <nav class="moj-sub-navigation" aria-label="Sub navigation">

      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"  href="officer-view">Overview</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" aria-current="page" href="officer-view-cases">Active cases</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="officer-view-contracted">Contracted hours</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"  href="officer-view-reductions">Reductions</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l">Active cases</h2>


<table class="govuk-table govuk-table-xl">
  
  
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
    
      <th scope="col" class="govuk-table__header" aria-sort="none">CRN</th>
    
      <th scope="col" class="govuk-table__header" aria-sort="ascending">Tier</th>
    
      <th scope="col" class="govuk-table__header" aria-sort="none">Type of case</th>
    
      <th scope="col" class="govuk-table__header" aria-sort="none">Sentence start</th>

      <th scope="col" class="govuk-table__header" aria-sort="none">Sentence end</th>
</tr>
  </thead>
  
  <tbody class="govuk-table__body">
    
      
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">J681101</td>
          <td class="govuk-table__cell">B2</td>
          <td class="govuk-table__cell">Community</td>
          <td class="govuk-table__cell">24 May 2019</td>
          <td class="govuk-table__cell">12 Apr 2021</td>
        </tr>
        <tr class="govuk-table__row">
          
          <td class="govuk-table__cell">J681116</td>
          <td class="govuk-table__cell">B2</td>
          <td class="govuk-table__cell">Licence</td>
          <td class="govuk-table__cell">15 May 2017</td>
          <td class="govuk-table__cell">01 Mar 2021</td>
        </tr>
        <tr class="govuk-table__row">
          
          <td class="govuk-table__cell">J681161</td>
          <td class="govuk-table__cell">B2</td>
          <td class="govuk-table__cell">Licence</td>
          <td class="govuk-table__cell">21 JUn 2020</td>
          <td class="govuk-table__cell">21 Jun 2021</td>
        </tr>
        <tr class="govuk-table__row">
          
          <td class="govuk-table__cell">J681146</td>
          <td class="govuk-table__cell">B2</td>
          <td class="govuk-table__cell">Custody</td>
          <td class="govuk-table__cell">11 Jan 2021</td>
          <td class="govuk-table__cell">17 Feb 2022</td>
        </tr>
        <tr class="govuk-table__row">
          
          <td class="govuk-table__cell">J681131</td>
          <td class="govuk-table__cell">B2</td>
          <td class="govuk-table__cell">Community</td>
          <td class="govuk-table__cell">18 Apr 2020</td>
          <td class="govuk-table__cell">18 Apr 2021</td>
        </tr>  
        <tr class="govuk-table__row">
          
          <td class="govuk-table__cell">J681107</td>
          <td class="govuk-table__cell">C1</td>
          <td class="govuk-table__cell">Community</td>
          <td class="govuk-table__cell">13 Jun 2019</td>
          <td class="govuk-table__cell">03 Jun 2022</td>
        </tr>
        <tr class="govuk-table__row">
          
          <td class="govuk-table__cell">J681167</td>
          <td class="govuk-table__cell">C1</td>
          <td class="govuk-table__cell">Custody</td>
          <td class="govuk-table__cell">07 Aug 2020</td>
          <td class="govuk-table__cell">17 Aug 2022</td>
        </tr>
        <tr class="govuk-table__row">
          
          <td class="govuk-table__cell">J681122</td>
          <td class="govuk-table__cell">C1</td>
          <td class="govuk-table__cell">Licence</td>
          <td class="govuk-table__cell">01 Jun 2020</td>
          <td class="govuk-table__cell">12 Jul 2021</td>
        </tr>
        <tr class="govuk-table__row">
          
          <td class="govuk-table__cell">J681137</td>
          <td class="govuk-table__cell">C1</td>
          <td class="govuk-table__cell">Community</td>
          <td class="govuk-table__cell">29 Jan 2021</td>
          <td class="govuk-table__cell">24 Sep 2022</td>
        </tr>
        <tr class="govuk-table__row">
          
          <td class="govuk-table__cell">J681152</td>
          <td class="govuk-table__cell">C1</td>
          <td class="govuk-table__cell">Community</td>
          <td class="govuk-table__cell">30 Jun 2019</td>
          <td class="govuk-table__cell">15 Jul 2022</td>
        </tr>
        <tr class="govuk-table__row">
          
          <td class="govuk-table__cell">J681155</td>
          <td class="govuk-table__cell">C2</td>
          <td class="govuk-table__cell">Community</td>
          <td class="govuk-table__cell">24 Apr 2020</td>
          <td class="govuk-table__cell">15 Jul 2022</td>
        </tr>
        <tr class="govuk-table__row">
          
          <td class="govuk-table__cell">J681164</td>
          <td class="govuk-table__cell">C2</td>
          <td class="govuk-table__cell">Community</td>
          <td class="govuk-table__cell">17 Aug 2018</td>
          <td class="govuk-table__cell">16 Aug 2022</td>
        </tr>
        <tr class="govuk-table__row">
          
          <td class="govuk-table__cell">J681170</td>
          <td class="govuk-table__cell">C2</td>
          <td class="govuk-table__cell">Community</td>
          <td class="govuk-table__cell">04 Aug 2019</td>
          <td class="govuk-table__cell">18 Aug 2021</td>
        </tr>
        <tr class="govuk-table__row">
          
          <td class="govuk-table__cell">J681104</td>
          <td class="govuk-table__cell">C2</td>
          <td class="govuk-table__cell">Community</td>
          <td class="govuk-table__cell">08 Mar 2018</td>
          <td class="govuk-table__cell">31 Dec 2021</td>
        </tr>
        <tr class="govuk-table__row">
          
          <td class="govuk-table__cell">J681134</td>
          <td class="govuk-table__cell">C2</td>
          <td class="govuk-table__cell">Community</td>
          <td class="govuk-table__cell">04 Aug 2020</td>
          <td class="govuk-table__cell">06 Aug 2022</td>
        </tr>
        <tr class="govuk-table__row">
          
          <td class="govuk-table__cell">J681140</td>
          <td class="govuk-table__cell">C2</td>
          <td class="govuk-table__cell">Licence</td>
          <td class="govuk-table__cell">04 Mar 2021</td>
          <td class="govuk-table__cell">02 Oct 2022</td>
        </tr>
        <tr class="govuk-table__row">
          
          <td class="govuk-table__cell">J681149</td>
          <td class="govuk-table__cell">C2</td>
          <td class="govuk-table__cell">Licence</td>
          <td class="govuk-table__cell">01 Feb 2020</td>
          <td class="govuk-table__cell">04 Jul 2022</td>
        </tr>
        <tr class="govuk-table__row">
          
          <td class="govuk-table__cell">J681110</td>
          <td class="govuk-table__cell">C2</td>
          <td class="govuk-table__cell">Custody</td>
          <td class="govuk-table__cell">17 Aug 2020</td>
          <td class="govuk-table__cell">04 Sep 2022</td>
        </tr>
        <tr class="govuk-table__row">
          
          <td class="govuk-table__cell">J681119</td>
          <td class="govuk-table__cell">C2</td>
          <td class="govuk-table__cell">Community</td>
          <td class="govuk-table__cell">17 Aug 2020</td>
          <td class="govuk-table__cell">30 Nov 2026</td>
        </tr>          
        <tr class="govuk-table__row">
          
          <td class="govuk-table__cell">J681125</td>
          <td class="govuk-table__cell">C2</td>
          <td class="govuk-table__cell">Custody</td>
          <td class="govuk-table__cell">19 Mar 2021</td>
          <td class="govuk-table__cell">08 May 2023</td>
        </tr>
        <tr class="govuk-table__row">
          
          <td class="govuk-table__cell">J681113</td>
          <td class="govuk-table__cell">D2</td>
          <td class="govuk-table__cell">Community</td>
          <td class="govuk-table__cell">27 Feb 2021</td>
          <td class="govuk-table__cell">22 Jan 2023</td>
        </tr>
      
        <tr class="govuk-table__row">
          
          <td class="govuk-table__cell">J681128</td>
          <td class="govuk-table__cell">D2</td>
          <td class="govuk-table__cell">Community</td>
          <td class="govuk-table__cell">17 Nov 2020</td>
          <td class="govuk-table__cell">04 Feb 2022</td>
        </tr>
        <tr class="govuk-table__row">
          
          <td class="govuk-table__cell">J681143</td>
          <td class="govuk-table__cell">D2</td>
          <td class="govuk-table__cell">Custody</td>
          <td class="govuk-table__cell">18 Dec 2020</td>
          <td class="govuk-table__cell">14 Mar 2021</td>
        </tr> 
        <tr class="govuk-table__row">
          
          <td class="govuk-table__cell">J681158</td>
          <td class="govuk-table__cell">D2</td>
          <td class="govuk-table__cell">Community</td>
          <td class="govuk-table__cell">07 Oct 2020</td>
          <td class="govuk-table__cell">17 Oct 2023</td>
        </tr>
  </tbody>
</table>    
  </div>
</div>
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script>
    console.log($('table'))

    new MOJFrontend.SortableTable({
      table: $('table')[0]
    });
  </script>
{% endblock %}