{% extends "layout_workforce-nav.html" %}


{% block pageTitle %}
Allocation reasons | Workforce planning
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "teams/step-list"
    },
    {
      text: "Unallocated cases",
      href: "unallocated-cases"
    },
    {
      text: "Case view",
      href: "case-view"
    },
    {
      text: "Allocate to probation practitioner",
      href: "case-allocate"
    }
  ]
}) }}
{% endblock %}

{% block content %}


{% include "./partials/pop-title.html" %}
</div>
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
  <div class="govuk-form-group">
    <section aria-label="allocation-instructions">
                {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

        {{ govukTextarea({
          name: "more-detail",
          id: "txt",
          label: {
            text: "Review allocation notes",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "Enter any details you want to highlight to the probation practitioner. You will have a chance to review later."
          }
        }) }}
    </section>
  </div>

<div class="govuk-inset-text govuk-!-margin-bottom-7">
  <p>These notes will automatically be sent to <br>{{ data['allocated-officer'] | default("Molly O\'Sullivan") }} (<em>MJOnps11@justice.gov.uk</em>)</p>
</div>

<form action="allocation-complete" method="post" novalidate>
  <div class="govuk-button-group">
    <button class="govuk-button" data-module="govuk-button">Continue</button>
    <a class="govuk-link" href="case-allocate">Cancel</a>
  </div>

</form>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  var textarea = document.getElementById("txt");
  textarea.addEventListener('input', writeLocalStorage);

  function writeLocalStorage() {
     if (typeof(Storage) !== "undefined") {
         localStorage.setItem("text", textarea.value);
     } else {
         document.getElementById("err").innerHTML = "Localstorage not supported";
     }
  }

  function readLocalStorage() {
     if (typeof(Storage) !== "undefined") {
         textarea.value = localStorage.getItem("text");
     } else {
         document.getElementById("err").innerHTML = "Localstorage not supported";
     }
  }

  // `DOMContentLoaded` may fire before your script has a chance to run, so check before adding a listener
  if (document.readyState === "loading") {
      document.addEventListener("DOMContentLoaded", readLocalStorage);
  } else {  // `DOMContentLoaded` already fired
      readLocalStorage();
  }
  </script>
      <script type="text/javascript">
      MOJFrontend.initAll();
    </script>
  {% endblock %}
