{% extends "layout_cases-nav.html" %}

{% block pageTitle %}
Unallocated cases | Southampton Team 1 | Workforce planning
{% endblock %}

{% block content %}

{% block team %}
{% include "./partials/team-title.html" %}
{% endblock %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav class="moj-sub-navigation" aria-label="Sub navigation">
      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="unallocated-cases"><span id="notifications">Unallocated cases ({{ data['unallocated-number'] | default("3") }})</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" aria-current="page" href="allocated-recently"><span id="notifications">Cases allocated in last 30 days</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l">Cases allocated in last 30 days</h2>
    <div class="moj-scrollable-pane">
      <div class="moj-scrollable-pane__wrapper">

        <table class="govuk-table govuk-table-xl">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" aria-sort="none">Name / CRN</th>
              <th scope="col" class="govuk-table__header" aria-sort="none">Tier</th>
              <th scope="col" class="govuk-table__header" aria-sort="none">Date allocated</th>
              <th scope="col" class="govuk-table__header" aria-sort="none">Offender manager</th>
              <th scope="col" class="govuk-table__header" aria-sort="none">Action</th>
            </tr>
          </thead>

          
        </table>
        <p>There have been no recent allocations.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
