<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!--<span class="tier-flag">{{ data['tier'] | default("C1") }}</span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
      <span class="govuk-caption-xl">CRN: {{ data['pop-crn'] | default("J678910") }}</span>{{ data['pop-name'] | default("Dylan Adam Armstrong") }}
    </h1>--> 
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">{{ data['pop-name'] | default("Dylan Adam Armstrong") }}
      <span class="govuk-caption-xl">Tier: {{ data['tier'] | default("C1") }}</span>
      <span class="govuk-caption-xl">CRN: {{ data['pop-crn'] | default("J678910") }}</span>
    </h1>
  </div>
