
<section class="key-details-bar" style="margin: 0; padding: 0 15px;" aria-label="Key details">
      <div class="key-details-bar__key-details">
        <div class="key-details-bar__top-block">
          <span class="key-details-bar__status" style="float: none; margin-right: 6px;">C1</span>
          <span class="govuk-visually-hidden">Name:</span>
          <span class="key-details-bar__name govuk-!-margin-right-6">Dylan Adam Armstrong</span>
          <span class="govuk-body key-details-bar_divider"><strong>CRN:</strong> DX1234FF</span>
          <span class="govuk-visually-hidden">Status from nDelius:</span>
          <span class="key-details-bar__status">Current offender</span>
          <!--<span class="govuk-visually-hidden">Status from nDelius:</span>
          <span class="key-details-bar__status govuk-!-margin-right-2">Low Risk of Serious Harm</span>
        </div>-->
        <div class="key-details-bar__bottom-block govuk-!-margin-bottom-6">
          <span class="govuk-body key-details-bar_divider"><strong>Gender:</strong> Male</span>
          <!--<span class="govuk-body key-details-bar_divider"><strong>Probation status:</strong> Current</span>-->
          <span class="govuk-body"><strong>Date of birth:</strong> 01 Feb 1992 (19 years)</span>
        </div>
        <h3 class="govuk-heading-m">Offence</h3>
        <p><strong>Drive motor vehicle when alcohol level above limit</strong></p>
        <p>Contrary to section 5(1)(a) of the Road Traffic Act 1988 and schedule 2 to the Road Traffic Offenders Act 1988.</p>
        <p>On Friday 10th June at Green Avenue, Sheffield drove a motor vehicle namely BMW registration AB12 ZZZ on a road namely Green Avenue, Sheffield, after consuming so much alcohol that the proportion of it in your breath, namely 117 microgrammes of alcohol in 100 millilitres of breath, exceeded the prescribed limit.</p>
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button" style="color: black;">
          View full details on nDelius
        </button>
      </div>
    </section>