{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/fieldset/macro.njk" import govukFieldset -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/textarea/macro.njk" import govukTextarea -%}

<div data-module="moj-add-another">

<p class="govuk-!-margin-bottom-7">These notes will automatically be sent to the probation practitioner you have chosen.<br>
You can also send a copy of the notes to another recipient, for example your case admin officer.</p>


    {% call govukFieldset({
      classes: 'moj-add-another__item',
      legend: {
        text: 'Add a recipient',
        classes: 'moj-add-another__title govuk-fieldset__legend--m',
        isPageHeading: false
      }
    }) %}

    {{ govukInput({
      id: 'person[0][email]',
      name: 'person[0][email]',
      label: {
        html: 'Email address',
        classes: 'govuk-!-font-weight-bold'
      },
      attributes: {
        'data-name': 'person[%index%][email]',
        'data-id': 'person[%index%][email]'
      }
    }) }}
    
    {% endcall %}

    <div class="moj-button-action govuk-!-margin-top-3 govuk-!-margin-bottom-9">
      {{ govukButton({
        text: 'Add another person',
        classes: 'govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4'
      }) }}
    </div>

</div>