{% extends "layout_workforce-nav.html" %}


{% block pageTitle %}
Allocation impact | Workforce planning
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <a href="unallocated-cases" class="govuk-back-link govuk-body">Back to unallocated cases</a>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span style="float:left; width: 71px; height: 71px; padding :10px; margin-right: 10px; background-color: #1d70b8; color: white; font-size: 60px; font-weight: 800;">{{ data['tier'] | default("C1") }}</span><h1 class="govuk-heading-xl govuk-!-margin-bottom-2">{{ data['pop-name'] | default("Dylan Adam Armstrong") }}<span class="workforce-grade">CRN: {{ data['pop-crn'] | default("J678910") }}</span></h1>    
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav class="moj-sub-navigation" aria-label="Sub navigation">
      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="case-view">Summary</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="case-history">Probation record</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="case-risk">Risk register</a>
        </li>
                 <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" aria-current="page" href="case-allocate">Allocate to an officer</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      <h3 id="cleared" class="govuk-heading-l">Change to capacity</h3>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        Allocating this case will change the capacity score of {{ data['allocated-officer'] | default("Molly O\'Sullivan") }} from 90% to 98%.
      </strong>
    </div>
      <div class="govuk-button-group">
      <a class="govuk-button" href="allocation-reasons">Continue</a>
      <a class="govuk-link" href="case-allocate">Cancel</a>
    </div>
  </div>
</div>
{% endblock %}
