<h2 class="govuk-heading-m">Common tasks</h2>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="ex-reasons-hint">
      <div id="ex-reasons-hint" class="govuk-hint">
        Select all that apply.
      </div>
      <div class="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="ex-reasons" name="ex-reasons" type="checkbox" value="complex">
          <label class="govuk-label govuk-checkboxes__label" for="ex-reasons">
            Check with social services
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="ex-reasons-2" name="ex-reasons" type="checkbox" value="suitable">
          <label class="govuk-label govuk-checkboxes__label" for="ex-reasons-2">
            Complete a police check
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="ex-reasons-3" name="ex-reasons" type="checkbox" value="continuity">
          <label class="govuk-label govuk-checkboxes__label" for="ex-reasons-3">
            Ensure registers are correct
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="ex-reasons-4" name="ex-reasons" type="checkbox" value="staffing">
          <label class="govuk-label govuk-checkboxes__label" for="ex-reasons-4">
             Check MAPPA eligible
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="ex-reasons-5" name="ex-reasons" type="checkbox" value="training">
          <label class="govuk-label govuk-checkboxes__label" for="ex-reasons-5">
            Link in with Youth Justice
          </label>
        </div>
      </div>

    </fieldset>
  </div>
