{% extends "layout_cases.html" %}


{% block pageTitle %}
Faraz Haynes | Overview | Workforce planning
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <a href="unallocated-cases" class="govuk-back-link govuk-body">Back to unallocated cases</a>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span style="float:left; width: 71px; height: 71px; padding :10px; margin-right: 10px; background-color: #1d70b8; color: white; font-size: 60px; font-weight: 800;">C1</span><h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Dylan Adam Armstrong<span class="workforce-grade">CRN: J678910</span></h1>    
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav class="moj-sub-navigation" aria-label="Sub navigation">
      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"  aria-current="page" href="case-view">Summary</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="case-history">Probation record</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="case-risk">Risk register</a>
        </li>
         <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="case-allocate">Allocate to an officer</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Summary</h2>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m">Offender details</h3>
    <section class="key-details-bar" style="margin: 0 0 30px; padding: 0 15px;" aria-label="Key details">
      <div class="key-details-bar__key-details">
        <div class="key-details-bar__top-block">
          <span class="govuk-body key-details-bar_divider"><strong>PCN:</strong> 2012/123400000F</span>
          <span class="govuk-body key-details-bar_divider"><strong>Gender:</strong> Male</span>
          <span class="govuk-body"><strong>Date of birth:</strong> 27 Sep 1984 (36 years)</span>
          <div class="key-details-bar__bottom-block govuk-!-margin-bottom-6">
            
          </div>
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button" style="color: black;">
          View full details on nDelius
          </button>
      </div>
    </section>

    <h2 class="govuk-heading-m">Offence</h2>
    <div class="app-card govuk-!-margin-bottom-6">
      <h3 class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-1">
         Common assault and battery
      </h3>
      <p class="govuk-body-s secondary-text-col"><strong>Contrary to section 39 of the Criminal Justice Act 1988.</strong></p>
      <p>On Wednesday 15th February 2021 at Grey Lane, S10 1AG, assaulted Sarah Smith by beating her.</p>
    </div>

    <h2 class="govuk-heading-m">Sentence</h2>
    <div class="app-card govuk-!-margin-bottom-6">
      <h3 class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-1">
        Community Order
      </h3>

      <p>
        0 months elapsed (of 12 months)
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-1">
        Rehabilitation activity requirement
      </h3>
      <p class="govuk-!-margin-bottom-0">
        0 days completed (of 15 days)
      </p>
    </div>
    
  </div>
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Risk and needs</h2>
    <section>
      <h1 class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-1">
        Risk of serious harm (ROSH)
      </h1>
      <p><span class="govuk-tag govuk-tag--orange">Medium</span> risk to known adults, children, staff or the public</p>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            View those at risk
          </span>
        </summary>
        <div class="govuk-details__text">
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header">Risk to</th>
                <th class="govuk-table__header">Community</th>
                <th class="govuk-table__header">Custody</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Themselves</td>
                <td class="govuk-table__cell">
                  <span class="govuk-tag govuk-tag--green">Low</span>
                </td>
                <td class="govuk-table__cell">
                  <span class="govuk-tag govuk-tag--green">Low</span>
                </td>
              </tr>
              
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Children</td>
                <td class="govuk-table__cell">
                  <span class="govuk-tag govuk-tag--green">Low</span>
                </td>
                <td class="govuk-table__cell">
                  <span class="govuk-tag govuk-tag--green">Low</span>
                </td>
              </tr>
              
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Public</td>
                <td class="govuk-table__cell">
                  <span class="govuk-tag govuk-tag--orange">Medium</span>
                </td>
                <td class="govuk-table__cell">
                  <span class="govuk-tag govuk-tag--green">Low</span>
                </td>
              </tr>
              
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Known adult</td>
                <td class="govuk-table__cell">
                  <span class="govuk-tag govuk-tag--orange">Medium</span>
                </td>
                <td class="govuk-table__cell">
                  <span class="govuk-tag govuk-tag--green">Low</span>
                </td>
              </tr>
              
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Staff</td>
                <td class="govuk-table__cell">
                  <span class="govuk-tag govuk-tag--green">Low</span>
                </td>
                <td class="govuk-table__cell">
                  <span class="govuk-tag govuk-tag--green">Low</span>
                </td>
              </tr>
              
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Prisoners</td>
                <td class="govuk-table__cell">
                  <span class="govuk-tag govuk-tag--green">Low</span>
                </td>
                <td class="govuk-table__cell">
                  <span class="govuk-tag govuk-tag--green">Low</span>
                </td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </details>
    </section>

    <section>
      <h1 class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-1">RSR score</h1>
      <p><span class="govuk-tag govuk-tag--red">High</span> likelihood of an offence within 2 years, leading to reconviction</p>
    </section>

    <section>
      <h1 class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-1">MAPPA</h1>
      <p><span class="govuk-tag govuk-tag--turquoise">No</span> multi-agency public protection arrangements</p>
    </section>

    <section>
      <h1 class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-1">OGRS score</h1>
      <p><span class="govuk-tag govuk-tag--red">High</span> likelihood of an offence within 2 years, leading to reconviction</p>
    </section>

    <section>
      <h1 class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-1">IOM</h1>
      <p><span class="govuk-tag govuk-tag--turquoise">No</span> integrated offender management requirements</p>
    </section>

    <section>
      <h1 class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-1">Offenders needs</h1>
      <ul class="govuk-list govuk-list--bullet">
        <li>Accommodation</li>
        <li>Relationships</li>
        <li>Thinking and attitudes</li>
      </ul>
    </section>

  </div>
</div>
{% endblock %}