{% extends "layout_workforce.html" %}


{% block pageTitle %}
End of prototype | Workforce planning
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <a href="allocate-case" class="govuk-back-link govuk-body">Back to allocated a case</a>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">Manage a workforce</span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">End of prototype</h1>
    <p>You have reached the end of the scenario we wanted to speak with you about. Thank you for your time.</p>
    <p><a href="/index">Return to start</a></p>
  </div>
</div>
{% endblock %}
