{% extends "layout_workforce.html" %}


{% block pageTitle %}
Dashboard
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">All regions</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Kent Surrey Sussex</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="team-view">Southampton Team 1</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">Southampton Team 1</span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Faraz Haynes <span class="workforce-grade">Probation Officer</span></h1>  
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <nav class="moj-sub-navigation" aria-label="Sub navigation">

      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="officer-view">Overview</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" aria-current="page" href="officer-view-cases">Active cases</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="#">Archive</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l">Active cases</h2>


<table class="govuk-table govuk-table-xl">
  
  
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
    
      <th scope="col" class="govuk-table__header" aria-sort="none">SU Name</th>
    
      <th scope="col" class="govuk-table__header" aria-sort="none">CRN</th>
    
      <th scope="col" class="govuk-table__header" aria-sort="none">Postcode</th>
    
      <th scope="col" class="govuk-table__header" aria-sort="none">Indicative tier</th>
    
      <th scope="col" class="govuk-table__header" aria-sort="ascending">Allocation date</th>
    
      <th scope="col" class="govuk-table__header" aria-sort="none">Previous OM</th>
    
    </tr>
  </thead>
  
  <tbody class="govuk-table__body">
    
      
        <tr class="govuk-table__row">
        
          
          
          <td class="govuk-table__cell"
          ><a href="#1">Jacob Smith</a></td>
          
        
          
          
          <td class="govuk-table__cell"
          >J681101</td>
          
        
          
          
          <td class="govuk-table__cell"
          >SE10 9GB</td>
          
        
          
          
          <td class="govuk-table__cell"
          >B2</td>
          
        
          
          
          <td class="govuk-table__cell"
          >12 Apr 2020</td>
          
        
          
          
          <td class="govuk-table__cell"
          ></td>
          
        
        </tr>
      
    
      
        <tr class="govuk-table__row">
        
          
          
          <td class="govuk-table__cell"
          ><a href="#3">Gary Jones</a></td>
          
        
          
          
          <td class="govuk-table__cell"
          >J681104</td>
          
        
          
          
          <td class="govuk-table__cell"
          >SE1 2QJ</td>
          
        
          
          
          <td class="govuk-table__cell"
          >C2</td>
          
        
          
          
          <td class="govuk-table__cell"
          >31 Dec 2020</td>
          
        
          
          
          <td class="govuk-table__cell"
          ></td>
          
        
        </tr>
      
    
      
        <tr class="govuk-table__row">
        
          
          
          <td class="govuk-table__cell"
          ><a href="#3">Nicholas Taylor</a></td>
          
        
          
          
          <td class="govuk-table__cell"
          >J681107</td>
          
        
          
          
          <td class="govuk-table__cell"
          >N22 7XB</td>
          
        
          
          
          <td class="govuk-table__cell"
          >C1</td>
          
        
          
          
          <td class="govuk-table__cell"
          >3 Jun 2019</td>
          
        
          
          
          <td class="govuk-table__cell"
          ></td>
          
        
        </tr>
      
    
      
        <tr class="govuk-table__row">
        
          
          
          <td class="govuk-table__cell"
          ><a href="#3">Eric Brown</a></td>
          
        
          
          
          <td class="govuk-table__cell"
          >J681110</td>
          
        
          
          
          <td class="govuk-table__cell"
          >E3 2HT</td>
          
        
          
          
          <td class="govuk-table__cell"
          >C2</td>
          
        
          
          
          <td class="govuk-table__cell"
          >4 Sep 2020</td>
          
        
          
          
          <td class="govuk-table__cell"
          ></td>
          
        
        </tr>
      
    
      
        <tr class="govuk-table__row">
        
          
          
          <td class="govuk-table__cell"
          ><a href="#3">Jonathan Williams</a></td>
          
        
          
          
          <td class="govuk-table__cell"
          >J681113</td>
          
        
          
          
          <td class="govuk-table__cell"
          >SE1 7LY</td>
          
        
          
          
          <td class="govuk-table__cell"
          >D2</td>
          
        
          
          
          <td class="govuk-table__cell"
          >31 Aug 2018</td>
          
        
          
          
          <td class="govuk-table__cell"
          ></td>
          
        
        </tr>
      
    
      
        <tr class="govuk-table__row">
        
          
          
          <td class="govuk-table__cell"
          ><a href="#3">Stephen Wilson</a></td>
          
        
          
          
          <td class="govuk-table__cell"
          >J681116</td>
          
        
          
          
          <td class="govuk-table__cell"
          >SE14 6BX</td>
          
        
          
          
          <td class="govuk-table__cell"
          >B2</td>
          
        
          
          
          <td class="govuk-table__cell"
          >12 Apr 2020</td>
          
        
          
          
          <td class="govuk-table__cell"
          ></td>
          
        
        </tr>
      
    
      
        <tr class="govuk-table__row">
        
          
          
          <td class="govuk-table__cell"
          ><a href="#3">Larry Johnson</a></td>
          
        
          
          
          <td class="govuk-table__cell"
          >J681119</td>
          
        
          
          
          <td class="govuk-table__cell"
          >NW2 6GH</td>
          
        
          
          
          <td class="govuk-table__cell"
          >C2</td>
          
        
          
          
          <td class="govuk-table__cell"
          >31 Dec 2020</td>
          
        
          
          
          <td class="govuk-table__cell"
          ></td>
          
        
        </tr>
      
    
      
        <tr class="govuk-table__row">
        
          
          
          <td class="govuk-table__cell"
          ><a href="#3">Justin Davies</a></td>
          
        
          
          
          <td class="govuk-table__cell"
          >J681122</td>
          
        
          
          
          <td class="govuk-table__cell"
          >NW3 1BB</td>
          
        
          
          
          <td class="govuk-table__cell"
          >C1</td>
          
        
          
          
          <td class="govuk-table__cell"
          >3 Jun 2019</td>
          
        
          
          
          <td class="govuk-table__cell"
          ></td>
          
        
        </tr>
      
    
      
        <tr class="govuk-table__row">
        
          
          
          <td class="govuk-table__cell"
          ><a href="#3">Scott Patel</a></td>
          
        
          
          
          <td class="govuk-table__cell"
          >J681125</td>
          
        
          
          
          <td class="govuk-table__cell"
          >NW26 9GE</td>
          
        
          
          
          <td class="govuk-table__cell"
          >C2</td>
          
        
          
          
          <td class="govuk-table__cell"
          >4 Sep 2020</td>
          
        
          
          
          <td class="govuk-table__cell"
          ></td>
          
        
        </tr>
      
    
      
        <tr class="govuk-table__row">
        
          
          
          <td class="govuk-table__cell"
          ><a href="#3">Brandon Robinson</a></td>
          
        
          
          
          <td class="govuk-table__cell"
          >J681128</td>
          
        
          
          
          <td class="govuk-table__cell"
          >E20 1DE</td>
          
        
          
          
          <td class="govuk-table__cell"
          >D2</td>
          
        
          
          
          <td class="govuk-table__cell"
          >31 Aug 2018</td>
          
        
          
          
          <td class="govuk-table__cell"
          ></td>
          
        
        </tr>
      
    
      
        <tr class="govuk-table__row">
        
          
          
          <td class="govuk-table__cell"
          ><a href="#3">Benjamin Wright</a></td>
          
        
          
          
          <td class="govuk-table__cell"
          >J681131</td>
          
        
          
          
          <td class="govuk-table__cell"
          >N21 1QT</td>
          
        
          
          
          <td class="govuk-table__cell"
          >B2</td>
          
        
          
          
          <td class="govuk-table__cell"
          >12 Apr 2020</td>
          
        
          
          
          <td class="govuk-table__cell"
          ></td>
          
        
        </tr>
      
    
      
        <tr class="govuk-table__row">
        
          
          
          <td class="govuk-table__cell"
          ><a href="#3">Samuel Thompson</a></td>
          
        
          
          
          <td class="govuk-table__cell"
          >J681134</td>
          
        
          
          
          <td class="govuk-table__cell"
          >E1 6QG</td>
          
        
          
          
          <td class="govuk-table__cell"
          >C2</td>
          
        
          
          
          <td class="govuk-table__cell"
          >31 Dec 2020</td>
          
        
          
          
          <td class="govuk-table__cell"
          ></td>
          
        
        </tr>
      
    
      
        <tr class="govuk-table__row">
        
          
          
          <td class="govuk-table__cell"
          ><a href="#3">Frank Evans</a></td>
          
        
          
          
          <td class="govuk-table__cell"
          >J681137</td>
          
        
          
          
          <td class="govuk-table__cell"
          >W6 9QG</td>
          
        
          
          
          <td class="govuk-table__cell"
          >C1</td>
          
        
          
          
          <td class="govuk-table__cell"
          >3 Jun 2019</td>
          
        
          
          
          <td class="govuk-table__cell"
          ></td>
          
        
        </tr>
      
    
      
        <tr class="govuk-table__row">
        
          
          
          <td class="govuk-table__cell"
          ><a href="#3">Gregory Walker</a></td>
          
        
          
          
          <td class="govuk-table__cell"
          >J681140</td>
          
        
          
          
          <td class="govuk-table__cell"
          >NW2 7EG</td>
          
        
          
          
          <td class="govuk-table__cell"
          >C2</td>
          
        
          
          
          <td class="govuk-table__cell"
          >4 Sep 2020</td>
          
        
          
          
          <td class="govuk-table__cell"
          ></td>
          
        
        </tr>
      
    
      
        <tr class="govuk-table__row">
        
          
          
          <td class="govuk-table__cell"
          ><a href="#3">Raymond White</a></td>
          
        
          
          
          <td class="govuk-table__cell"
          >J681143</td>
          
        
          
          
          <td class="govuk-table__cell"
          >W6 0TH</td>
          
        
          
          
          <td class="govuk-table__cell"
          >D2</td>
          
        
          
          
          <td class="govuk-table__cell"
          >31 Aug 2018</td>
          
        
          
          
          <td class="govuk-table__cell"
          ></td>
          
        
        </tr>
      
    
      
        <tr class="govuk-table__row">
        
          
          
          <td class="govuk-table__cell"
          ><a href="#3">Alexander Roberts</a></td>
          
        
          
          
          <td class="govuk-table__cell"
          >J681146</td>
          
        
          
          
          <td class="govuk-table__cell"
          >W4 1DF</td>
          
        
          
          
          <td class="govuk-table__cell"
          >B2</td>
          
        
          
          
          <td class="govuk-table__cell"
          >12 Apr 2020</td>
          
        
          
          
          <td class="govuk-table__cell"
          ></td>
          
        
        </tr>
      
    
      
        <tr class="govuk-table__row">
        
          
          
          <td class="govuk-table__cell"
          ><a href="#3">Patrick Green</a></td>
          
        
          
          
          <td class="govuk-table__cell"
          >J681149</td>
          
        
          
          
          <td class="govuk-table__cell"
          >SE6 1SH</td>
          
        
          
          
          <td class="govuk-table__cell"
          >C2</td>
          
        
          
          
          <td class="govuk-table__cell"
          >31 Dec 2020</td>
          
        
          
          
          <td class="govuk-table__cell"
          ><a href="#3">Pauline Hollywell</a></td>
          
        
        </tr>
      
    
      
        <tr class="govuk-table__row">
        
          
          
          <td class="govuk-table__cell"
          ><a href="#3">Jack Hall</a></td>
          
        
          
          
          <td class="govuk-table__cell"
          >J681152</td>
          
        
          
          
          <td class="govuk-table__cell"
          >W3 6UH</td>
          
        
          
          
          <td class="govuk-table__cell"
          >C1</td>
          
        
          
          
          <td class="govuk-table__cell"
          >3 Jun 2019</td>
          
        
          
          
          <td class="govuk-table__cell"
          ></td>
          
        
        </tr>
      
    
      
        <tr class="govuk-table__row">
        
          
          
          <td class="govuk-table__cell"
          ><a href="#3">Dennis Thomas</a></td>
          
        
          
          
          <td class="govuk-table__cell"
          >J681155</td>
          
        
          
          
          <td class="govuk-table__cell"
          >W2 3PN</td>
          
        
          
          
          <td class="govuk-table__cell"
          >C2</td>
          
        
          
          
          <td class="govuk-table__cell"
          >4 Sep 2020</td>
          
        
          
          
          <td class="govuk-table__cell"
          ></td>
          
        
        </tr>
      
    
      
        <tr class="govuk-table__row">
        
          
          
          <td class="govuk-table__cell"
          ><a href="#3">Jerry Clarke</a></td>
          
        
          
          
          <td class="govuk-table__cell"
          >J681158</td>
          
        
          
          
          <td class="govuk-table__cell"
          >SW18 4PU</td>
          
        
          
          
          <td class="govuk-table__cell"
          >D2</td>
          
        
          
          
          <td class="govuk-table__cell"
          >31 Aug 2018</td>
          
        
          
          
          <td class="govuk-table__cell"
          ></td>
          
        
        </tr>
      
    
      
        <tr class="govuk-table__row">
        
          
          
          <td class="govuk-table__cell"
          ><a href="#3">Tyler Jackson</a></td>
          
        
          
          
          <td class="govuk-table__cell"
          >J681161</td>
          
        
          
          
          <td class="govuk-table__cell"
          >N13 5DL</td>
          
        
          
          
          <td class="govuk-table__cell"
          >B2</td>
          
        
          
          
          <td class="govuk-table__cell"
          >12 Apr 2020</td>
          
        
          
          
          <td class="govuk-table__cell"
          ></td>
          
        
        </tr>
      
    
      
        <tr class="govuk-table__row">
        
          
          
          <td class="govuk-table__cell"
          ><a href="#3">Aaron Wood</a></td>
          
        
          
          
          <td class="govuk-table__cell"
          >J681164</td>
          
        
          
          
          <td class="govuk-table__cell"
          >SW17 0ND</td>
          
        
          
          
          <td class="govuk-table__cell"
          >C2</td>
          
        
          
          
          <td class="govuk-table__cell"
          >31 Dec 2020</td>
          
        
          
          
          <td class="govuk-table__cell"
          ></td>
          
        
        </tr>
      
    
      
        <tr class="govuk-table__row">
        
          
          
          <td class="govuk-table__cell"
          ><a href="#3">Jose Harris</a></td>
          
        
          
          
          <td class="govuk-table__cell"
          >J681167</td>
          
        
          
          
          <td class="govuk-table__cell"
          >SW6 2LP</td>
          
        
          
          
          <td class="govuk-table__cell"
          >C1</td>
          
        
          
          
          <td class="govuk-table__cell"
          >3 Jun 2019</td>
          
        
          
          
          <td class="govuk-table__cell"
          ></td>
          
        
        </tr>
      
    
      
        <tr class="govuk-table__row">
        
          
          
          <td class="govuk-table__cell"
          ><a href="#3">Henry Edwards</a></td>
          
        
          
          
          <td class="govuk-table__cell"
          >J681170</td>
          
        
          
          
          <td class="govuk-table__cell"
          >N11 2NB</td>
          
        
          
          
          <td class="govuk-table__cell"
          >C2</td>
          
        
          
          
          <td class="govuk-table__cell"
          >4 Sep 2020</td>
          
        
          
          
          <td class="govuk-table__cell"
          ></td>
          
        
        </tr>
      
    
  </tbody>
</table>


    
  </div>
</div>
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script>
    console.log($('table'))

    new MOJFrontend.SortableTable({
      table: $('table')[0]
    });
  </script>
{% endblock %}