<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <section aria-label="allocation-instructions">
        {% from "govuk/components/textarea/macro.njk" import govukTextarea %}
          {{ govukTextarea({
          name: "more-detail",
          id: "txt",
          label: {
            text: "Write allocation instructions",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "Enter any details you want to highlight, and instructions you want to pass on. These are saved automatically, and you will have a chance to review later when selecting recipients."
          }
        }) }}
    </section>
  </div>
</div>