{% extends "layout_workforce-nav.html" %}


{% block pageTitle %}
Allocation reasons | Workforce planning
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "teams/step-list"
    },
    {
      text: "Unallocated cases",
      href: "unallocated-cases"
    },
    {
      text: "Case view",
      href: "case-view"
    },
    {
      text: "Allocate case",
      href: "case-allocate"
    }
  ]
}) }}
{% endblock %}

{% block content %}


{% include "./partials/pop-title.html" %}
</div>
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
<h2 class="govuk-heading-l">Review allocation notes</h2>
<form action="allocation-complete" method="post" novalidate>
  <div class="govuk-form-group">
    <label class="govuk-label" for="more-detail">
      These are the notes you made while reviewing the case. Please ensure they are complete with everything you want to tell the offender manager, as they will be sent as part of the allocation.
    </label>
    <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="15">
      {{ data['casenotes'] }}
    </textarea>
  </div>

  <h2 class="govuk-heading-m">Common tasks</h2>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="ex-reasons-hint">
      <div id="ex-reasons-hint" class="govuk-hint">
        Select all that apply.
      </div>
      <div class="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="ex-reasons" name="ex-reasons" type="checkbox" value="complex">
          <label class="govuk-label govuk-checkboxes__label" for="ex-reasons">
            Check with social services
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="ex-reasons-2" name="ex-reasons" type="checkbox" value="suitable">
          <label class="govuk-label govuk-checkboxes__label" for="ex-reasons-2">
            Complete a police check
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="ex-reasons-3" name="ex-reasons" type="checkbox" value="continuity">
          <label class="govuk-label govuk-checkboxes__label" for="ex-reasons-3">
            Ensure registers are correct
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="ex-reasons-4" name="ex-reasons" type="checkbox" value="staffing">
          <label class="govuk-label govuk-checkboxes__label" for="ex-reasons-4">
             Check MAPPA eligible
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="ex-reasons-5" name="ex-reasons" type="checkbox" value="training">
          <label class="govuk-label govuk-checkboxes__label" for="ex-reasons-5">
            Link in with Youth Justice
          </label>
        </div>
      </div>

    </fieldset>
  </div>

      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button">Continue</button>
        <a class="govuk-link" href="case-allocate">Cancel</a>
      </div>

</form>
  </div>
</div>
{% endblock %}
