{% extends "layout_cases-nav.html" %}


{% block pageTitle %}
Allocation impact | Workforce planning
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "teams/step-list"
    },
    {
      text: "Unallocated cases",
      href: "unallocated-cases"
    },
    {
      text: "Case view",
      href: "case-view"
    },
    {
      text: "Allocate case",
      href: "case-allocate"
    }
  ]
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span class="tier-flag">{{ data['tier'] | default("C1") }}</span><h1 class="govuk-heading-xl govuk-!-margin-bottom-2"><span class="govuk-caption-xl">CRN: {{ data['pop-crn'] | default("J678910") }}</span>{{ data['pop-name'] | default("Dylan Adam Armstrong") }}</h1>    
  </div>
</div>
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      <h3 id="cleared" class="govuk-heading-l">Change to capacity</h3>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        Allocating this case will change the capacity score of {{ data['allocated-officer'] | default("Molly O\'Sullivan") }} from 90% to 98%.
      </strong>
    </div>

    <form action="allocation-notes" method="post" novalidate>
      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button">Continue</button>
        <a class="govuk-link" href="case-allocate">Cancel</a>
      </div>
      <input type="hidden" name="unallocated-number" value="2">
    </form>
  </div>
</div>
{% endblock %}
