{% extends "layout_cases.html" %}

{% block pageTitle %}
Manage a Workforce
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <h1 class="govuk-heading-l govuk-!-margin-top-7">Select service</h1>
</div>
<div class="homepage-content">
    <div class="govuk-width-container">
        <ul class="govuk-grid-row dash-card-group">

            <li class="govuk-grid-column-one-third dash-card-group__item">

                <div class="dash-card dash-card--clickable" data-test="secure-move">
                    <h2 class="govuk-heading-m dash-card__heading">
                        <a class="govuk-link dash-card__link govuk-link--no-visited-state" href="unallocated-cases">Allocate an offender manager</a>
                    </h2>
                    <p class="govuk-body dash-card__description">Review cases and allocate to an officer on your team</p>
                </div>

            </li>

            <li class="govuk-grid-column-one-third dash-card-group__item">

                <div class="dash-card dash-card--clickable" data-test="secure-move">
                    <h2 class="govuk-heading-m dash-card__heading">
                        <a class="govuk-link dash-card__link govuk-link--no-visited-state" href="wmt-screen">Workforce Measurement Tool
                        </a>
                    </h2>
                    <p class="govuk-body dash-card__description">Review capacity, change contracted hours, apply reductions. 
                    </p>
                </div>

            </li>

            <li class="govuk-grid-column-one-third dash-card-group__item">

                <div class="dash-card dash-card--clickable" data-test="secure-move">
                    <h2 class="govuk-heading-m dash-card__heading">
                        <a class="govuk-link dash-card__link govuk-link--no-visited-state" href="#">...
                        </a>
                    </h2>
                    <p class="govuk-body dash-card__description">... 
                    </p>
                </div>

            </li>

            <li class="govuk-grid-column-one-third dash-card-group__item">

                <div class="dash-card dash-card--clickable" data-test="secure-move">
                    <h2 class="govuk-heading-m dash-card__heading">
                        <a class="govuk-link dash-card__link govuk-link--no-visited-state" href="#">...
                        </a>
                    </h2>
                    <p class="govuk-body dash-card__description">... 
                    </p>
                </div>

            </li>

            <li class="govuk-grid-column-one-third dash-card-group__item">

                <div class="dash-card dash-card--clickable" data-test="secure-move">
                    <h2 class="govuk-heading-m dash-card__heading">
                        <a class="govuk-link dash-card__link govuk-link--no-visited-state" href="#">...
                        </a>
                    </h2>
                    <p class="govuk-body dash-card__description">... 
                    </p>
                </div>

            </li>

            <li class="govuk-grid-column-one-third dash-card-group__item">

                <div class="dash-card dash-card--clickable" data-test="secure-move">
                    <h2 class="govuk-heading-m dash-card__heading">
                        <a class="govuk-link dash-card__link govuk-link--no-visited-state" href="#">...
                        </a>
                    </h2>
                    <p class="govuk-body dash-card__description">... 
                    </p>
                </div>

            </li>
            
        </ul>
    </div>
</div>
{% endblock %}
