{% extends "layout_no-cases-nav.html" %}
n0-
{% block pageTitle %}
Select your PDU | Manage a workforce
{% endblock %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}
    {% from "govuk/components/radios/macro.njk" import govukRadios %}
    {% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "region"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">HMPPS</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">{{ data['select-region'] }}</h1>
    </div>
  </div>

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="teams" method="post" novalidate>




        {{ govukRadios({
          idPrefix: "your-pdu",
          name: "select-pdu",
          fieldset: {
            legend: {
              text: "Select your Probation Delivery Unit",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Corporate Services",
              text: "Corporate Services"
            },
            {
              value: "County Durham and Darlington",
              text: "County Durham and Darlington"
            },
            {
              value: "Default Unallocated Borough",
              text: "Default Unallocated Borough"
            },
            {
              value: "Gateshead and South Tyneside",
              text: "Gateshead and South Tyneside"
            },
            {
              value: "Inactive Level 2(N54)",
              text: "Inactive Level 2(N54)"
            },
            {
              value: "Newcastle Upon Tyne",
              text: "Newcastle Upon Tyne"
            },
            {
              value: "North Tyneside and Northumberland",
              text: "North Tyneside and Northumberland"
            },
            {
              value: "Redcar, Cleveland and Middlesbrough",
              text: "Redcar, Cleveland and Middlesbrough"
            },
            {
              value: "Stockton and Hartlepool",
              text: "Stockton and Hartlepool"
            },
            {
              value: "Sunderland",
              text: "Sunderland"
            },
            {
              value: "Unallocated Level(N54)",
              text: "Unallocated Level(N54)"
            },
            {
              value: "Unpaid Work and Attendance Centres",
              text: "Unpaid Work and Attendance Centres"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
