{% extends "layout_no-cases-nav.html" %}
n0-
{% block pageTitle %}
Unallocated cases | Southampton Team 1 | Workforce planning
{% endblock %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}
    {% from "govuk/components/radios/macro.njk" import govukRadios %}
    {% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "region"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">HMPPS</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">{{ data['select-region'] }}</h1>
    </div>
  </div>

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="teams-doncaster" method="post" novalidate>




        {{ govukRadios({
          idPrefix: "your-pdu",
          name: "select-pdu",
          fieldset: {
            legend: {
              text: "Select your Probation Delivery Unit",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Barnsley and Rotherham",
              text: "Barnsley and Rotherham"
            },
            {
              value: "Bradford and Calderdale",
              text: "Bradford and Calderdale"
            },
            {
              value: "Doncaster",
              text: "Doncaster"
            },
            {
              value: "Hull and East Riding",
              text: "Hull and East Riding"
            },
            {
              value: "Inactive Level 2(N55)",
              text: "Inactive Level 2(N55)"
            },
            {
              value: "Kirklees",
              text: "Kirklees"
            },
            {
              value: "Leeds",
              text: "Leeds"
            },
            {
              value: "North and North East Lincs",
              text: "North and North East Lincs"
            },
            {
              value: "North Yorkshire",
              text: "North Yorkshire"
            },
            {
              value: "Sheffield",
              text: "Sheffield"
            },
            {
              value: "Unallocated Level 2(N55)",
              text: "Unallocated Level 2(N55)"
            },
            {
              value: "Wakefield",
              text: "Wakefield"
            },
            {
              value: "York",
              text: "York"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
