{% extends "layout_no-cases-nav.html" %}
n0-
{% block pageTitle %}
Select your region | Manage a workforce
{% endblock %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}
    {% from "govuk/components/radios/macro.njk" import govukRadios %}
    {% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "region"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">HMPPS</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">{{ data['select-region'] }}</h1>
    </div>
  </div>

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>Sorry, this region is currently not in the prototype.</p>
    </div>
  </div>
{% endblock %}
