// Secondary text colour
.secondary-text-col {
    color: $govuk-secondary-text-colour;
}

// Key details bar
.key-details-bar {
    background-color: govuk-colour("blue");
}
.key-details-bar .key-details-bar__key-details {
    // max-width: 1200px;
    // margin: 0 auto;
    padding: 20px 0;
    position: relative;
}
.key-details-bar .key-details-bar__key-details .key-details-bar__name {
    font-family: "GDS Transport", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.04167;
    font-weight: 700;
    line-height: 1.11111;
    margin-right: 10px;
    -webkit-margin-start: 0;
    margin-inline-start: 0;
}
.key-details-bar .key-details-bar__key-details .key-details-bar__bottom-block {
    // border-top: 1px solid rgba(255, 255, 255, 0.3);
    // content: ' ';
    padding-top: 10px;
    margin-top: 6px;
}
.key-details-bar .key-details-bar__key-details .key-details-bar__status {
    font-family: "GDS Transport", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.14286;
    font-weight: 700;
    line-height: 1.25;
    padding: 5px 8px;
    color: govuk-colour("blue");
    background-color: #ffffff;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    float: right;
    margin: 5px 0 0;
}
.key-details-bar .key-details-bar__key-details * {
    color: #ffffff;
}
.key-details-bar_divider {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    margin: 0 15px 0 0;
    padding: 0 15px 0 0;
}
@media (min-width: 40.0625em) {
    // .key-details-bar .key-details-bar__key-details {
    //     margin: 0 auto;
    // }
    .key-details-bar .key-details-bar__key-details .key-details-bar__name {
        // font-size: 36px;
        // font-size: 2.25rem;
        font-size: 1.675rem;
        line-height: 1.11111;
    }
    .key-details-bar .key-details-bar__key-details .key-details-bar__status {
        font-size: 16px;
        font-size: 1rem;
        line-height: 1.25;
    }
}


// Allocate to OM button
.button-link {
  background: none;
  border: 0;
  color: govuk-colour('blue');
  font-family: 'GDS Transport', Arial, sans-serif;
  font-size: 1.1875rem;
  line-height: 1.14286;
  padding: 0;
  text-decoration: underline;
}

.tier-flag {
  background-color: govuk-colour('light-purple');
  color: govuk-colour('white');
  float: left;
  font-family: 'GDS Transport', arial, sans-serif;
  font-size: 60px;
  font-weight: 200;
  height: 71px;
  margin-right: 10px;
  padding: 10px;
  text-align: center;
  width: 71px;
}

.arrow-down {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 15px solid govuk-colour('dark-grey');
  height: 0;
  width: 0;
}

.index-card {
  background-color: #f8f8f8;
  border: 1px #f3f2f1 solid;
  margin: 0 0 20px ;
  padding: 20px;

  p {
    color: $govuk-secondary-text-colour;
  }

  h1 {
    color: $govuk-secondary-text-colour;

    span {
      color: $govuk-text-colour;
      font-weight: 400;
    }
  }
}

// For risk testing only
.index-card-img {
  height: auto;
  width: 100%;
}
