{% extends "layout_cases-nav.html" %}


{% block pageTitle %}
J678910 | Allocate | Workforce planning
{% endblock %}

{% block beforeContent %}
<a href="unallocated-cases" class="govuk-back-link">Back to unallocated cases</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span class="tier-flag">{{ data['tier'] | default("C1") }}</span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
      <span class="govuk-caption-xl">CRN: {{ data['pop-crn'] | default("J678910") }}</span>
      {{ data['pop-name'] | default("Dylan Adam Armstrong") }}
    </h1>
    
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav class="moj-sub-navigation" aria-label="Sub navigation">
      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="case-view">Summary</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="case-history">Probation record</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="case-risk">Risk</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      <h2 id="cleared" class="govuk-heading-l">Allocate to an officer</h2>

  <div class="moj-scrollable-pane">

    <div class="moj-scrollable-pane__wrapper">
    <!--<form action="/allocate-handler" method="post" novalidate>-->
    <form action="allocation-confirm" method="post" novalidate>
            <table class="govuk-table govuk-table-xl" data-module="moj-sortable-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header"></th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Name</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Grade</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="Ascending">Capacity</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">Allocations in past 7 days</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">Community cases</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">Custody cases</th>
          
        </tr>
      </thead>
      <tbody class="govuk-table__body">
      {% set gradeDescriptions = {PO: 'Probation Officer', PSO: 'Probation Service Officer', NQO: 'Newly Qualified Officer', PQiP: 'Trainee Probation Officer', SPO: 'Senior Probation Officer'} %}
        {% for probationPractitioner in team %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="allocate-officer-{{ probationPractitioner.OM_Key }}" name="allocated-officer" type="radio" value="{{ probationPractitioner.name }}">
                  <label class="govuk-label govuk-radios__label" for="allocate-officer-{{ probationPractitioner.OM_Key }}"></label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="officer-view/{{ probationPractitioner.OM_Key }}">{{ probationPractitioner.name }}</a></td>
            {% set gradeDescription = gradeDescriptions[probationPractitioner.grade] %}
            <td class="govuk-table__cell" data-sort-value="{{ gradeDescription }}">
            <div class="tooltip">{{ probationPractitioner.grade }}<span class="tooltiptext">{{ gradeDescription }}</span></div></td>

            <td class="govuk-table__cell govuk-table__cell--numeric{% if probationPractitioner.capacity > 99 %} percentage-extra-over{% endif %}" data-sort-value="{{ probationPractitioner.capacity }}">{{ probationPractitioner.capacity }}%</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="{{ probationPractitioner.allocationsInLast7.length }}">{{ probationPractitioner.allocationsInLast7.length }}</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="{{ probationPractitioner.totals.community }}">{{ probationPractitioner.totals.community }}</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="{{ probationPractitioner.totals.custody }}">{{ probationPractitioner.totals.custody }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <input type="hidden" name="allocated-capacity" value="{{ probationPractitioner.capacity }}">
      <button class="govuk-button" data-module="govuk-button" style="float: left; margin-right: 30px;">
        Select officer
      </button>
    </form>
  
   
  

    </div>

  </div>

    <form action="case-allocate#cleared" method="post" novalidate>
      <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Clear selection
      </button>
    </form>    
  </div>
</div>
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script>
    new MOJFrontend.FilterToggleButton({
      bigModeMediaQuery: '(min-width: 48.063em)',
      startHidden: true,
      toggleButton: {
        container: $('.moj-action-bar__filter'),
        showText: 'Filter this list',
        hideText: 'Hide filter',
        classes: 'govuk-button--secondary'
      },
      closeButton: {
        container: $('.moj-filter__header-action'),
        text: 'Close'
      },
      filter: {
        container: $('.moj-filter')
      }
    });
  </script>
  <script>
    console.log($('table'))

    new MOJFrontend.SortableTable({
      table: $('table')[0]
    });
  </script>
{% endblock %}