{% extends "layout_cases-nav.html" %}


{% block pageTitle %}
J678910 | Overview | Workforce planning
{% endblock %}

{% block beforeContent %}
<a href="unallocated-cases" class="govuk-back-link">Back to unallocated cases</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="tier-flag">{{ data['tier'] | default("C1") }}</span><h1 class="govuk-heading-xl govuk-!-margin-bottom-2"><span class="govuk-caption-xl">CRN: {{ data['pop-crn'] | default("J678910") }}</span>{{ data['pop-name'] | default("Dylan Adam Armstrong") }}</h1>
  </div>
  <div class="govuk-grid-column-one-third">
    <a href="case-allocate" role="button" draggable="false" class="govuk-button" style="margin: 40px 0 0;" data-module="govuk-button">Allocate case</a>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav class="moj-sub-navigation" aria-label="Sub navigation">
      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"  aria-current="page" href="case-view">Summary</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="case-history">Probation record</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="case-risk">Risk</a>
      </ul>
    </nav>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Summary</h2>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m">Offence</h3>
    <div class="app-card govuk-!-margin-bottom-6">
      <h3 class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-1">
         Common assault and battery
      </h3>
      <p class="govuk-body-s secondary-text-col"><strong>Contrary to section 39 of the Criminal Justice Act 1988.</strong></p>
      <p>On Wednesday 15th February 2021 at Grey Lane, S10 1AG, assaulted Sarah Smith by beating her.</p>
    </div>

    <h2 class="govuk-heading-m">Sentence</h2>
    <div class="app-card govuk-!-margin-bottom-6">
      <h3 class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-1">
        Community Order (12 months)
      </h3>

      <p>
        Start date: 16 July 2021<br>
        End date: 15 July 2022
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-1">
        Requirements
      </h3>
      <p class="govuk-!-margin-bottom-0">
        Rehabilitation Activity Requirement (RAR): 15 days<br>
        Accredited Programme: Building Better Relationships (BBR)<br>
        Unpaid Work: 120 hours
      </p>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-m">Offender details</h3>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <div class="tooltip">PNC<span class="tooltiptext">Police National Computer</span></div>
        </dt>
        <dd class="govuk-summary-list__value">
          2012/123400000F
        </dd>
      </div>

       <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Gender
        </dt>
        <dd class="govuk-summary-list__value">
          Male
        </dd>
      </div>

       <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of Birth
        </dt>
        <dd class="govuk-summary-list__value">
          27 Sep 1984 (36 years)
        </dd>
      </div>
    </dl>

   <h3 class="govuk-heading-m">Related information</h3>
    <ul class="govuk-list govuk-body-s case-doc-checklist">
      <li class="yep">Court outcome</li>
      <li class="yep">Court order</li>
      <li class="yep">Pre-convictions</li>
      <li class="yep">Pre-sentence report</li>
    </ul>

    <h3 class="govuk-heading-m">CPS pack</h3>
    <p class="govuk-body"><span class="secondary-text-col">Uploaded on 20 Jul 2021</span><br>
    <a href="#" class="govuk-link--no-visited-state">View pack</a></p>

    <h3 class="govuk-heading-m">Last pre-sentence report</h3>
    <p class="govuk-body">Pre-Sentence Report - Oral<br><span class="secondary-text-col">Delivered 05 Nov 2020</span><br>
    <a href="#" class="govuk-link--no-visited-state">View report</a></p>

    <h3 class="govuk-heading-m">Last OASys assessment</h3>
    <p class="govuk-body">OASys Assessment Layer 3<br><span class="secondary-text-col">Completed on 13 Dec 2020</span><br>
    <a href="#" class="govuk-link--no-visited-state">View assessment</a></p>

    

  </div>
</div>
{% endblock %}