{% extends "layout_workforce.html" %}


{% block pageTitle %}
Southampton Team 1 | Overview | Workforce planning
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">All regions</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">NPS South Central Division</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Hampshire South West</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">Hampshire South West</span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Southampton Team 1</h1>  
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav class="moj-sub-navigation" aria-label="Sub navigation">

      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" aria-current="page" href="#">Overview</a>
        </li>
      </ul>
    </nav>
    
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-9">
  <div class="govuk-grid-column-full">

    <h2 class="govuk-heading-l" style="margin-bottom: 0!important;">Caseload totals</h2>
    <p class="govuk-!-margin-bottom-2">Last updated: Today at 9:00am</p>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <div class="card card-total-subset">
          <span class="card__heading">274</span>
          <p>total cases</p>
        </div>
      </div>

      <div class="govuk-grid-column-one-quarter">
        <div class="card card-total">
          <a href="" class="govuk-link--no-visited-state"><span class="card__heading">55</span>
          <p>custody cases</p></a>
        </div>
      </div>

      <div class="govuk-grid-column-one-quarter">
        <div class="card card-total">
          <a href="" class="govuk-link--no-visited-state"><span class="card__heading">219</span>
          <p>community cases</p></a>
        </div>
      </div>

      <div class="govuk-grid-column-one-quarter">
        <div class="card card-total">
          <a href="" class="govuk-link--no-visited-state"><span class="card__heading">43</span>
          <p> on licence</p></a>
        </div>
      </div>

      
    </div>
  </div>
</div>
<div class="govuk-grid-row govuk-!-margin-bottom-9">
  <div class="govuk-grid-column-full">

    <h2 class="govuk-heading-l">Current workload</h2>
    <table class="govuk-table govuk-table-xl" data-module="moj-sortable-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" aria-sort="Ascending">Name</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Grade</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">Workload</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">Capacity*</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">Community cases</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">New cases**</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">Total cases</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Breakdown of cases by tier</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="officer-view">Faraz Haynes</a></td>
        <td class="govuk-table__cell" data-sort-value="Probation Officer">
        <div class="tooltip">PO<span class="tooltiptext">Probation Officer</span></div></td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="88">88%</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="4">4</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="32">32</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="32">2</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="42">40</td>
        <td class="govuk-table__cell">
          <div class="workforce-progress-container overview">
            <div class="workforce-progress-bar tier-a bar-width-10"><span title="5 tier A">5</span> <span class="sr-only">tier A</span></div>
            <div class="workforce-progress-bar tier-b bar-width-15"><span title="7 tier B1">7</span> <span class="sr-only">tier B1</span></div>
            <div class="workforce-progress-bar tier-c bar-width-25"><span title="9 tier B2">9</span> <span class="sr-only">tier B2</span></div>
            <div class="workforce-progress-bar tier-d bar-width-40"><span title="17 tier C1">17</span> <span class="sr-only">tier C1</span></div>
            <div class="workforce-progress-bar tier-other bar-width-10"><span title="4 tier C2">4</span> <span class="sr-only">tier C2</span></div>
          </div>
        </td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="officer-view-alt">Margaret Dawson</a></td>
        <td class="govuk-table__cell" data-sort-value="Probation Service Officer">
          <div class="tooltip">PSO<span class="tooltiptext">Probation Service Officer</span></div></td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="74">74%</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="0">0</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="22">22</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="22">18</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="23">23</td>
        <td class="govuk-table__cell">
          <div class="workforce-progress-container overview">
            <div class="workforce-progress-bar tier-c bar-width-5"><span title="1 tier B2">1</span> <span class="sr-only">tier B2</span></div>
            <div class="workforce-progress-bar tier-d bar-width-20"><span title="4 tier C1">4</span> <span class="sr-only">tier C1</span></div>
            <div class="workforce-progress-bar tier-other bar-width-75"><span title="18 tier D2">18</span> <span class="sr-only">tier D2</span></div>
          </div>
        </td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="#">Aman Crawford</a></td>
        <td class="govuk-table__cell" data-sort-value="Probation Officer">
        <div class="tooltip">PO<span class="tooltiptext">Probation Officer</span></div></td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="112">112%</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="0">0</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="8">29</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="8">9</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="38">38</td>
        <td class="govuk-table__cell">
          <div class="workforce-progress-container overview">
            <div class="workforce-progress-bar tier-a" style="width:10%">3</div>
            <div class="workforce-progress-bar tier-b" style="width:15%">8</div>
            <div class="workforce-progress-bar tier-c" style="width:35%">12</div>
            <div class="workforce-progress-bar tier-d" style="width:40%">15</div>
          </div>
        </td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="#">Elin Neale</a></td>
        <td class="govuk-table__cell" data-sort-value="Probation Service Officer">
        <div class="tooltip">PSO<span class="tooltiptext">Probation Service Officer</span></div></td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="105">105%</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="0">0</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="24">24</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="8">2</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="24">24</td>
        <td class="govuk-table__cell">
          <div class="workforce-progress-container overview">
            <div class="workforce-progress-bar tier-c" style="width:25%">7</div>
            <div class="workforce-progress-bar tier-d" style="width:65%">14</div>
            <div class="workforce-progress-bar tier-other" style="width:10%">3</div>
          </div>
        </td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="#">Donald Daniels</a></td>
        <td class="govuk-table__cell" data-sort-value="Probation Service Officer">
        <div class="tooltip">PSO<span class="tooltiptext">Probation Service Officer</span></div></td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="107">107%</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="0">0</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="20">20</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="8">9</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="21">21</td>
        <td class="govuk-table__cell">
          <div class="workforce-progress-container overview">
            <div class="workforce-progress-bar tier-c" style="width:5%">1</div>
            <div class="workforce-progress-bar tier-d" style="width:75%">16</div>
            <div class="workforce-progress-bar tier-other" style="width:20%">4</div>
          </div>
        </td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="#">Teigan Kaye</a></td>
        <td class="govuk-table__cell" data-sort-value="Probation Officer">
        <div class="tooltip">PO<span class="tooltiptext">Probation Officer</span></div></td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="92">92%</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="23">23</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="8">11</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="39">39</td>
        <td class="govuk-table__cell">
          <div class="workforce-progress-container overview">
            <div class="workforce-progress-bar tier-a" style="width:33%">13</div>
            <div class="workforce-progress-bar tier-b" style="width:34%">13</div>
            <div class="workforce-progress-bar tier-c" style="width:33%">13</div>
          </div>
        </td>  
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="#">Alan Paine</a></td>
        <td class="govuk-table__cell" data-sort-value="Senior Probation Officer">
        <div class="tooltip">SPO<span class="tooltiptext">Senior Probation Officer</span></div></td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="0">0</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="0">0</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="0">0</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="8">1</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
        <td class="govuk-table__cell">
          <div class="workforce-progress-container overview">
            <div class="workforce-progress-bar tier-a" style="width:100%">1</div>
          </div>
        </td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="#">Molly O'Sullivan</a></td>
        <td class="govuk-table__cell" data-sort-value="Probation Officer">
        <div class="tooltip">PO<span class="tooltiptext">Probation Officer</span></div></td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="123"><span style="color: #d4351c;">123%</span></td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="0">0</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="42">42</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="8">14</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="51">51</td>
        <td class="govuk-table__cell">
          <div class="workforce-progress-container overview">
            <div class="workforce-progress-bar tier-a" style="width:40%">20</div>
            <div class="workforce-progress-bar tier-b" style="width:15%">8</div>
            <div class="workforce-progress-bar tier-c" style="width:20%">12</div>
            <div class="workforce-progress-bar tier-d" style="width:15%">7</div>
            <div class="workforce-progress-bar tier-other" style="width:10%">4</div>
          </div>
        </td>   
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="#">Hamid Rivas</a></td>
        <td class="govuk-table__cell" data-sort-value="Probation Officer">
        <div class="tooltip">PO<span class="tooltiptext">Probation Officer</span></div></td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="112">112%</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="0">0</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="27">27</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="8">8</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="37">37</td>
        <td class="govuk-table__cell">
          <div class="workforce-progress-container overview">
            <div class="workforce-progress-bar tier-a" style="width:5%">2</div>
            <div class="workforce-progress-bar tier-b" style="width:48%">18</div>
            <div class="workforce-progress-bar tier-c" style="width:47%">17</div>
          </div>
        </td>  
      </tr>
      
      </tbody>
    </table> 
    <p class="govuk-body-s">*Capacity is an estimate of weekly available casework hours based on current workload.</p>
    <p class="govuk-body-s">**Cases in the first 16 weeks.</p>
  </div>
</div>
{% endblock %}