{% extends "layout_workforce.html" %}


{% block pageTitle %}
Farah Haynes | Overview | Workforce planning
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="dashboard">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">All regions</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">NPS South Central Division</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="{{ versionUrl }}/team-view">Hampshire South West</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">Southampton Team 1</span>
    {% set gradeDescriptions = {PO: 'Probation Officer', PSO: 'Probation Service Officer', TPO: 'Trainee Probation Officer', SPO: 'Senior Probation Officer'} %}
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">{{ probationPractitioner.name }} <span class="workforce-grade">{{ gradeDescriptions[probationPractitioner.grade] }}</span></h1>    
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav class="moj-sub-navigation" aria-label="Sub navigation">

      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" aria-current="page" href="#3">Overview</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="{{ url }}/officer-view-cases">Active cases</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="#3">Archive (on nDelius)</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l" style="margin-bottom: 0!important;">Current workload</h2>
    <p class="govuk-body-s govuk-!-margin-bottom-2">Last updated: Today at 9:00am</p>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <div class="card card-total">
          <a href="officer-view-cases" class="govuk-link--no-visited-state"><span class="card__heading">{{ probationPractitioner.totals.total }}</span>
          <p>total cases</p></a>
        </div>
      </div>

      <div class="govuk-grid-column-one-quarter">
        <div class="card card-total-subset">
          <span class="card__heading">{{ probationPractitioner.capacity }}%</span>
          <p>workload</p>
        </div>
      </div>



    </div>

    <!--<div class="workforce-progress-container">
      <div class="workforce-progress-bar" style="width:98%"><p>98%<span style="visibility: hidden;">capacity</span></p></div>
    </div>-->
    
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          View as points
        </span>
      </summary>
      <div class="govuk-details__text">
        <dl>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Points available
            </dt>
            <dd class="govuk-summary-list__value">
              {{ probationPractitioner.pointsAvailable }}
            </dd>
          </div><div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Points used
            </dt>
            <dd class="govuk-summary-list__value">
              {{ probationPractitioner.pointsUsed }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Points remaining
            </dt>
            <dd class="govuk-summary-list__value">
              {{ probationPractitioner.pointsAvailable - probationPractitioner.pointsUsed }}
            </dd>
          </div>
        </dl>
      </div>
    </details>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" style="max-width: 727px;">
    <h2 class="govuk-heading-l">Availability</h2>
   <!-- <ul class="govuk-list govuk-list--bullet">
      <li>31 hours per week</li>
      <li>6 hour reduction active until 12 Feb 21</li>
      <li>Last allocation on 22 Jan</li>
    </ul> -->

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Weekly hours
            </dt>
            <dd class="govuk-summary-list__value">
              {{ probationPractitioner.contractedHours }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Edit<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Reductions
            </dt>
            <dd class="govuk-summary-list__value">
              {{ probationPractitioner.totalReductions }} hours until {{ probationPractitioner.nextChange.format('Do MMM YY') }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Edit<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Last case allocated
            </dt>
            <dd class="govuk-summary-list__value">
              22 Jan (Tier B2, on licence in community)
            </dd>
            <dd class="govuk-summary-list__actions">

            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Cases due to end within next 4 weeks
            </dt>
            <dd class="govuk-summary-list__value">
              {{ casesDueToEnd.length }}
            </dd>
            <dd class="govuk-summary-list__actions">

            </dd>
          </div>

           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Releases within next 4 weeks
            </dt>
            <dd class="govuk-summary-list__value">
              {{ sentencesDueToEnd.length }}
            </dd>
            <dd class="govuk-summary-list__actions">
              
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Parole reports to complete within next 4 weeks
            </dt>
            <dd class="govuk-summary-list__value">
              {{ paroleReportsDue.length }}
            </dd>
            <dd class="govuk-summary-list__actions">

            </dd>
          </div>

         
        </dl>
  </div>



  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-m">Case mix</h3>
    <figure style="margin: 0;" class="govuk-!-padding-bottom-4">
            <img src="/public/images/casemix.png"
                 alt="Visual representation of types of active casework">
            <figcaption class="visually-hidden">
              
            </figcaption>
        </figure>
    <ul class="govuk-list">
    {% set tiers = ["A", "B1", "B2", "C1", "C2", "D1", "D2", "E", "F", "G"] %}
    {% for tier in tiers %}
      {% if probationPractitioner.totals[tier] %}
        <li><span class="caseload-swatch tier-{{ tier }}"></span>Tier {{ tier }}: {{ probationPractitioner.totals[tier] }}</li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <h3 class="govuk-heading-m">Specialist areas</h3>
    <ul class="govuk-list govuk-list--bullet">
      {% for specialistArea in probationPractitioner.specialistAreas %}
        <li>{{ specialistArea }}</li> 
      {% endfor %}
    </ul>
    <p><a href="">Edit</a></p>
  </div>

  <div class="govuk-grid-column-one-quarter">
    <h3 class="govuk-heading-m">Completed training</h3>
    <ul class="govuk-list govuk-list--bullet">
      {% for completedTrainingItem in probationPractitioner.completedTraining %}
        <li>{{ completedTrainingItem }}</li> 
      {% endfor %} 
    </ul>
    <p><a href="">Edit</a></p>
  </div>

  <div class="govuk-grid-column-one-half">
    
  </div>
</div>
{% endblock %}