{% extends "layout_no-cases-nav.html" %}
n0-
{% block pageTitle %}
Select your teams | Manage a workforce
{% endblock %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}
    {% from "govuk/components/button/macro.njk" import govukButton %}
    {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% block beforeContent %}
  {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "pdu-wrexham"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">{{ data['select-region'] }}</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">{{ data['select-pdu'] }}</h1>
    </div>
  </div>

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="team-list" method="post" novalidate>

        {{ govukCheckboxes({
          idPrefix: "your-teams",
          name: "select-teams",
          fieldset: {
            legend: {
              text: "Select your team",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "NPS - Conwy - Team 1",
              text: "NPS - Conwy - Team 1"
            },
            {
              value: "NPS - Denbighshire - Team 1",
              text: "NPS - Denbighshire - Team 1"
            },
            {
              value: "NPS - Flintshire - Team 1",
              text: "NPS - Flintshire - Team 1"
            },
            {
              value: "NPS - Gwynedd - Team 1",
              text: "NPS - Gwynedd - Team 1"
            },
            {
              value: "NPS - North Wales - Central IOM STC Team",
              text: "NPS - North Wales - Central IOM STC Team"
            },
            {
              value: "NPS - North Wales - East IOM STC Team",
              text: "NPS - North Wales - East IOM STC Team"
            },
            {
              value: "NPS - North Wales - West IOM STC Team",
              text: "NPS - North Wales - West IOM STC Team"
            },
            {
              value: "NPS - Wrexham - Team 1",
              text: "NPS - Wrexham - Team 1"
            },
            {
              value: "NPS - Ynys Mon - Team 1",
              text: "NPS - Ynys Mon - Team 1"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
