{% extends "layout_index.html" %}

{% block pageTitle %}
Prototype | HMPPS | Manage a workforce
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-m">MVP Prototype</h1>
    <p>Always-up-to-date version of the full allocation journey we are building for MVP.</p>
    <form action="_mvp/unallocated-cases" method="post">
    <div class="govuk-button-group">
      <input type="submit" class="govuk-button" value="View prototype">

      <a href="_mvp/teams/region">multiple teams journey</a>
    </div>
    <input type="hidden" name="unallocated-number" value="3">
    </form>



    <h1 class="govuk-heading-m">Sprint-based hypotheses and experiments</h1>
    <p>Individual screens and incomplete journeys to gather user feedback and test assumptions about doing things differently when we have control of WMT functionality.</p>
    <a href="versions">List of versions</a>
    
  </div>
</div>
  {% endblock %}
