{#- We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework. -#}
{%- set assetPath = '/govuk/assets' -%}

{% extends "govuk/template.njk" %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block pageTitle %}
  email
{% endblock %}

{% set mainClasses = mainClasses | default("govuk-main-wrapper--auto-spacing") %}

{% block main %}
  <div class="govuk-width-container {{ containerClasses }}">
    
    <main id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
      <div class="govuk-main-wrapper {{ mainClasses }}">
        {% block content %}{% endblock %}
      </div>
    </main>
  </div>
{% endblock %}

{% block footer %}{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    {% include "includes/scripts.html" %}
    {% block pageScripts %}{% endblock %}
  {% endblock %}
  <!-- GOV.UK Prototype Kit {{releaseVersion}} -->
{% endblock %}
