{% extends "layout_cases-nav.html" %}


{% block pageTitle %}
J678910 | Overview | Workforce planning
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "#"
    },
    {
      text: "Unallocated cases",
      href: "unallocated-cases"
    }
  ]
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Hannah Francis
      <span class="govuk-caption-xl">Tier: C2</span>
      <span class="govuk-caption-xl">CRN: J680660</span>
    </h1>
  </div>
  <div class="govuk-grid-column-one-third">
    <a href="#" role="button" draggable="false" class="govuk-button" style="margin: 40px 0 0;" data-module="govuk-button">Allocate case</a>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav class="moj-sub-navigation" aria-label="Sub navigation">
      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"   href="case-view-2">Summary</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" aria-current="page" href="case-history-2">Probation record</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"  href="case-risk-2">Risk</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Probation record</h1>
  </div>
</div>


<div class="govuk-grid-row govuk-!-padding-bottom-9">
  <div class="govuk-grid-column-full">
    <table class="govuk-table govuk-table-xl">
      <caption class="govuk-table__caption govuk-table__caption--m">Current order</caption>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">No current orders</td>
        </tr>
      </tbody>
    </table>

    <table class="govuk-table govuk-table-xl">
      <caption class="govuk-table__caption govuk-table__caption--m">Previous orders</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" style="width: 30%;">Sentence</th>
          <th scope="col" class="govuk-table__header" style="width: 36%;">Offence</th>
          <th scope="col" class="govuk-table__header" style="width: 13%;">End date</th>
          <th scope="col" class="govuk-table__header" style="width: 21%;">Probation practitioner</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">ORA Community Order (18 Months)</th>
          <td class="govuk-table__cell">Harassment under the Protection from Harassment Act 1997 - 19594</td>
          <td class="govuk-table__cell">24 Feb 2020</td>
          <td class="govuk-table__cell">
            <p class="govuk-body">Margaret Dawson</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
